<div class="container color-dark">
  <div class="col">
    <p>Add a item to your bucket list</p>
  </div>
  <div class="col">
      <p>Your List ({{itemCount}})</p>
  </div>
</div>

<div class="container color-light">
    <div class="col">
      <p class="sm">Use below to add items</p>
      <form>
        <input type="text" class="txt" name="item" placeholder="goals...">
        <input type="submit" class="btn" value="Add item">
      </form>
    </div>
    <div class="col">
        <p class="life-container">
          Get a nice internship!
        </p>
    </div>
  </div>
